@font-face {
  font-family: "Playwrite_IE";
  src: url("../src/assets/fonts/Playwrite_IE/PlaywriteIE-Regular.ttf") format("truetype");
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
  background-color: var(--color-Secondary);
  background-image: url("/img/brain_pattern.png");
  background-repeat: repeat;
  /* background-blend-mode:exclusion; */
  /* background-blend-mode: screen; */
  background-size: 500px 500px;
}

@theme {
  --font-playwrite: "Playwrite_IE", sans-serif;
  --color-Primary: #D2AB61;
  --color-Darker-Primary: #c09957;
  --color-Secondary: #313647;
  --color-Darker-Secondary: #2c303f;
  --color-Tertiary: #FAF8F1;
  --color-Darker-Tertiary: #E1DFD8;
  --color-custom-red: #DC0E0E;
  --color-custom-green: #0edc0e;

  --animate-fadeInUp: fadeInUp 0.5s ease-in-out;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

    --animate-popUp: popUp 0.5s ease-in-out;
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    80% {
      opacity: 1;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

@media screen and (orientation: landscape) and (max-height: 50rem) and (max-width: 64rem) {
  .hiddenLandscapePhone {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  background: var(--color-Tertiary);
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--color-Primary);
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-Darker-Primary);
}